.content__editor {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.content__editor__bg {
  width: 80%;
  height: 25em;
  background-color: #5081fb;
  border-radius: 8px;
}

.content__editor__bg__areaEdit {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 1em;
  background-color: #000000;
  border-radius: 8px;
}

.editor__bg__areaEdit__circles {
  display: flex;
  flex-direction: row;
  margin: .5em;
  gap: .5em;
}

.bg__areaEdit__circles {
  display: flex;
  flex-direction: row;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.content__editor__bg code { 
  border: none;
  margin: 0.5em;
  height: 80%;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 18.5px;
  white-space: pre-wrap;
  background-color: #000000;
}

#editor__highlight {
  width: 80%;
  color: #ffffff;
  background-color: rgb(255,255,255,.08);
  transition: .2s;
}

#editor__highlight:hover {
  background-color: rgb(255,255,255,.16);
}
